h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

.post-container {
    padding-top: 100px;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom : 30px;
}