@media (min-width: 1200px) {
    .fluid-width-video-wrapper {
        width: 110% !important;
        margin-left: -5%;
    }

    .post-entry img {
        max-width: 110% !important;
        margin-left: -5%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.post-entry img {
    padding-bottom: 10px;
    padding-top: 10px;
}

.comment-date {
    color: rgba(17, 17, 17, 0.55); !important;
}